<!DOCTYPE html>
<html xmlns="http://www.13ai.club" xml:lang="en" lang="en-us">

<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Ottiou Bai" />
   <link href="http://www.13ai.club" rel="alternate" title="13AI" type="application/atom+xml" />
   <!-- icon -->
   <link rel="icon" type="image/png" href="/top4.ico"/>
   <link rel="shortcut icon" href="/top4.ico" type="image/x-icon"/>

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/screen.css" type="text/css" media="screen, projection" />
   
   <!-- mathjax -->
   <script type="text/javascript"
     src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
     MathJax.Hub.Config({
      tex2jax: {
        inlineMath: [['$','$']],
        displayMath: [['$$','$$']],
        processEscapes: true
      }
    });
    </script>

</head>
<body>
    <div class="site">
    <div class="title">
<!--         <img src="/top4" width="36" align="left"/></a> -->
        <a href="/">数学四大杂志小助手</a>
<!--        <a class="extra" href="/">Home</a> -->
       &nbsp &nbsp
        <a class="extra" href="/Annals">Annals</a>
        <a class="extra" href="/Acta">Acta</a>
        <a class="extra" href="/JAMS">JAMS</a>
        <a class="extra" href="/Inventiones">Inventiones</a>
       <a class="extra" href="/about">关于</a>
    </div>
        
    {{ content }}
    
    <div class="footer">
    <div class="contact">
      <p>
       <img src="/top4.png" width="36" align="middle"/></a>
       </p>
    </div>
    <div class="contact">
      <p>
        数学四大杂志小助手
      </p>
    </div>
    <div class="contact">
      <p> 微信公众号：数学四大杂志小助手
        
      </p>
    </div>
  </div>
</div>

</body>
</html>
